@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  text-align: center;
  background: linear-gradient(to bottom, #6ab7f5, #fff);
  min-height: 100vh;
}

section#pokemon {
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;
}
#buttons {
  gap: 16px;
}

button {
  width: 300px;
  margin: 8px;
  padding: 16px;
  border-radius: 5px;
  border: none;
}
button:hover{
  cursor: pointer;
  filter:brightness(0.8);
  transition: 0.2s;
  
}

.toBack{
  width: 50px;
  margin-right: 900px;
  text-align: center;
}

/* div#localizations {
  height: 500px;
  overflow: scroll;
} */

#info {
  border: 1px solid green;
}


section#infoPokemons {
  width: 500px;
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;
  
}
section#infoPokemons p {
  color: #4a4a4a;
  font-size: 0.8em;
}
#about {
  display: flex;
  justify-content: space-between;
}
#stats {
  display: flex;
  border: 1px solid red;

}
#title, #data {
  width: 10%;
  padding: 8px;
  text-align: left;
}
#stats p {
  margin: 16px 0px;
}
#stats .line_bar {
  width: 100%;
  border: 1px solid blue;
  height: 16px;
  display: block;
}
#stats .bar {
  background-color: red;
}