@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  text-align: center;
  /* background: linear-gradient(to bottom, #6ab7f5, #fff); */
  background-color: #308aea;

  min-height: 100vh;
}
header {
  margin: 64px;
}

.ep--back {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23000' d='M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64'/%3E%3Cpath fill='%23000' d='m237.248 512l265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312z'/%3E%3C/svg%3E");
  background-color: currentColor;
  mask-image: var(--svg);
}

img {
  width: 200px;
}

h1 {
  margin: 64px;
  font-size: 2em;
}

section#pokemon {
  display: inline-block;
  margin-top: 2%;
  padding: 15px;
  position: relative;
}

.divPokemons {
  background-color: #f7f7f7;
  margin: 80px;
  padding: 32px;
  border-radius: 5px;
  box-shadow: 1px 3px 4px #3d3d3d85;
}

#buttons {
  gap: 16px;
}
button {
  background-color: #6ab7f5;
  color: #f7f7f7;
  width: 300px;
  margin: 8px;
  padding: 16px;
  border-radius: 5px;
  border: none;
  box-shadow:0px 8px #014d9f;
}

button:active {
  transform: translatey(5px);
  box-shadow: none;
}

button:hover{
  cursor: pointer;
  filter:brightness(0.8);
  transition: 0.2s;
  
}

.toBack {
  width: 100px;
  margin-right: 900px;
  text-align: center;
}

#backToHome {
  margin: 32px 0px;
}

#imgPerfilPokemon {
  filter:drop-shadow(10px 0 30px #6ab7f5)
}

#divType {
  color: #141414;
  margin: 16px 0px;
  display: flex;
  justify-content: space-around;
}

#divType p {
  background-color: #ffdd00;
  width: 105px;
  font-weight: bold;
  padding: 8px;
  margin: 8px;
  border-radius: 16px;
  font-size: 0.8em;
}
section#sectionPokemon {
  background-color: #f7f7f7;
  padding: 16px 0px;
  margin: 64px;
  border-radius: 5px;
  box-shadow: 3px 2px 10px #3d3d3d85;
  border: 1px solid purple;
}
div#pokemonData {
  padding: 64px;
  display: flex;
  justify-content: space-around;
}

#info {
  background-color: #f7f7f7;
  padding: 32px;
}


#about {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

#about p {
  color: #4a4a4a;
  font-size: 0.8em;
}

#stats {
  display: flex;
  padding: 15px;
}
#h3Stats {
  padding: 8px;
}
#stats .line-bar {
  width: 100%;
  height: 16px;
  display: block;
}

#stats .bar {
  height: 16px;
  background-color: #ffdd00;
}

.characteristics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding: 5px 0;
}

#data {
  width: 100%;
}

.statsName {
  width: 100px;
  text-align: left;
}

.statsValue {
  width: 100px;
  text-align: left;
}

footer {
  color: #f7f7f7;
  padding: 64px;
  font-size: 0.8em;
}