@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

:root {
  --yellow: #ffdd00;
  --lightBlue: #6ab7f5;
  --blue: #308aea;
  --darkBlue: #014d9f;
  --light: #f7f7f7;
  --dark: #2c2c2c85;
  --black: #191919;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

body {
  text-align: center;
  background-color: var(--light);
}

header {
  margin: 64px;
}

.ep--back {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23000' d='M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64'/%3E%3Cpath fill='%23000' d='m237.248 512l265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312z'/%3E%3C/svg%3E");
  background-color: currentColor;
  mask-image: var(--svg);
}

img {
  width: 200px;
}

h1 {
  margin: 64px;
  font-size: 1.5em;
}

h2 {
  color: var(--darkBlue);
}

.divPokemons {
  background-color: var(--light);
  width: auto;
  padding: 50px;
}

button {
  background-color: var(--lightBlue);
  color: var(--light);
  width: 150px;
  margin: 8px;
  padding: 16px;
  border-radius: 5px;
  border: none;
  box-shadow:0px 8px var(--darkBlue);
}

button:active {
  transform: translatey(5px);
  box-shadow: none;
}

.toBack {
  width: 50px;
  margin-right: 90%;
  text-align: center;
}

#sectionPokemon {
  background-color: var(--light);
}

/* #sectionPokemon #pokemonData {
   padding: 64px; 
} */

#pokemonData #divType {
  margin: 16px 0px;
  display: flex;
  justify-content: space-around;
}

#imgPerfilPokemon {
  filter:drop-shadow(10px 0 30px var(--blue))
}

#divType p {
  background-color: var(--yellow);
  width: 105px;
  font-weight: bold;
  padding: 8px;
  margin: 8px;
  border-radius: 16px;
  font-size: 0.8em;
}

#pokemonData #info {
  background-color: var(--light);
  padding: 32px;
}

#info #about {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

#info #about p {
  color: var(--dark);
  font-size: 0.8em;
}

#info #stats {
  display: flex;
  padding: 15px;
}

#stats #h3Stats {
  padding: 8px;
}

#stats #data {
  width: 100%;
}

#stats .characteristics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.statsName {
  width: 100px;
  text-align: left;
}

.statsValue {
  display: none;
}

#stats .line-bar {
  width: 100%;
  height: 16px;
  display: block;
}

#stats .bar {
  height: 16px;
  background-color: var(--yellow);
}

footer{
  color: var(--black);
  padding: 64px;
  font-size: 0.8em;
}

@media screen and (min-width:830px) {
  body {
    background-color: var(--blue);
  }
  
  h1 {
  font-size: 2em;
  }

  .divPokemons {
    margin: 90px;
    padding: 32px;
    border-radius: 5px;
    box-shadow: 1px 3px 4px var(--dark);
  }
  button {
    width: 250px;
  }

  button:hover{
    cursor: pointer;
    filter:brightness(0.8);
    transition: 0.2s;
    
  }
  
  #sectionPokemon {
    padding: 16px 0px;
    margin: 64px;
    border-radius: 5px;
    box-shadow: 3px 2px 10px var(--dark);
  }

  #sectionPokemon #pokemonData {
    padding: 64px;
    display: flex;
    justify-content: space-around;
  }
  
  #stats .characteristics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  .statsValue {
    width: 100px;
    text-align: left;
    display: block;
  }

  footer {
    color: var(--light);
  }
}
